# {{ .Name }} (Resource)

{{ .Description }}

## Argument Reference

{{ .SchemaMarkdown }}

## Example Usage
```hcl
resource "jwk_keyset" "set1" {
    keys = [
        jwk_rsa_key.key1.json,
        provider::jwk::public_key(jwk_rsa_key.key1.json, "verify-1"),

        jwk_ec_key.key1.json,
        provider::jwk::public_key(jwk_ec_key.key1.json, "encrypt-1")
    ] 
}
```