# {{ .Name }} (Resource)

{{ .Description }}

## Argument Reference

{{ .SchemaMarkdown }}

## Example Usage

```hcl
resource "jwk_rsa_key" "key1" {
    use = "sig"
    kid = "sig-1"
    size = 2048
    alg = "RS256"
}

output "rsa_key" {
  value = jwk_rsa_key.key1.json
  sensitive = true
}

output "rsa_public_key" {
  value = "${nonsensitive(provider::jwk::public_key(jwk_rsa_key.key1.json, "ver-1"))}\n"
  sensitive = false
}
```

## Importing

You can import a RSA key by providing the json representation of the key. 
The key must be in the JWK format and should be a valid RSA key. 

```hcl
terraform import jwk_rsa_key.sig '{"kty":"RSA","kid":"sig-1","use":"sig","alg":"RS256","e":"AQAB","n":"...","d":"...","p":"...","q":"...","dp":"...","dq":"...","qi":"..."}'
```

