# {{ .ProviderName }} (Provider)

{{ .Description }}

## Example usage

```hcl
terraform {
  required_version = ">= 1.8.0"
  required_providers {
    jwk = {
      source = "tieto-cem/jwk"
      version = ">= 1.0"
    }
  }
}
```